# Exclude all.

*

# Except GitHub workflow

!.github/
!.github/**/
!.github/**/*.yml

# Except main SquiDS modules

!squids/
!squids/**/
!squids/**/*.py

# Except test SquiDS modules

# !docs/
# !docs/**/
# !docs/**/*.*

!tests/
!tests/**/
!tests/**/*.py

!helper.sh
!LICENSE
!main.py
!setup.py
!README.md
!requirements.txt
!pytest.ini
!logging.yaml