# Exclude all.

*

# Except GitHub workflow

!.github/
!.github/**/
!.github/**/*.yml

# Except main SquiDS modules

!squids/
!squids/**/
!squids/**/*.py

# Except notebooks

!notebooks/
!notebooks/*.ipynb
!notebooks/*.py

# Except test SquiDS modules

!docs/
!docs/**/
!docs/**/*.md
!docs/**/*.png


!tests/
!tests/**/
!tests/**/*.py

!helper.sh
!LICENSE
!main.py
!setup.py
!README.md
!CONTRIBUTING.md
!requirements.txt
!.pre-commit-config.yaml
!mkdocs.yml
